<div class="week-calendar-container">
  <div class="cal-week">
    <%= week_calendar events: @events do |date, events| %>
      <div class="cal-date">
        <%= date.strftime('%B %d, %Y') %>
      </div>
      <hr>
      <% events.each_with_index do |event, index| %>
        <div class="event-wrapper <%= "priority-#{event.priority}" %>">
          <div class="event-container" style="top: <%= index * 100 + 'px' %>;">
            <%= link_to edit_event_path(event) do %>
              <div class="event">
                <h3><%= event.name %></h3>
                <p>
                  <strong>Start Time:</strong> <%= event.start_time.strftime('%I:%M %p') %><br>
                  <strong>End Time:</strong> <%= event.end_time.strftime('%I:%M %p') %>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= link_to 'Add New Event', new_event_path, class: 'btn btn-primary' %>
